body{
    box-sizing: border-box;
    background-color: rgb(57, 52, 88);
    height: 100vh;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'roboto-regular', sans-serif;
    font-size: .9em;
}
@font-face {
    font-family: 'roboto-bold';
    src: url('/assets/fonts/Roboto-Bold.ttf')format('woff2');
    font-family: 'roboto-regular';
    src:url('/assets/fonts/Roboto-Regular.ttf')format('woff2');
  }
  @font-face {
    font-family: 'roboto-bold';
    src: url('/assets/fonts/Roboto-Bold.ttf')format('woff2');
  }
.container{
    background-color: white;
    width: 50rem;
    height:35rem;
    border-radius: 1em;
    display: flex;
    padding: 1em;
    gap: 1em;
    justify-content: space-between;
}
.content-mobile{
    display: none;
}
h1{
    font-family: 'roboto-bold'!important;
    font-size: 4em;
    padding: 0;
    margin: 0;
}
 img{
    object-fit: contain;
}
span{
    display: flex;
    justify-content: start;
    gap:1em;
}

    form{
        display: flex;
        flex-direction: column;
    }
input{
    height: 3em;
    margin:.5em;
    border-radius:.5rem;

    cursor: pointer;;
}
input:last-of-type:hover{
    box-shadow: 1px 3px 10px 1px rgba(255, 96, 85, 0.541);
    background-color:  rgb(255,97,85)!important;
}

.content1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 46%;
    padding-left: 20px; 
    gap:5px;
}

.popup-message{
    display: none;
    flex-direction: column;
    background-color: white;
    width: 19em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding:1em;
    color: rgb(57, 52, 88);
    border-radius: 1em;
}

.attribution{
    position: absolute;
    bottom: 0;

    overflow: hidden; 
}

@media screen and (max-width: 700px) {
    .attribution{
display: flex;
  display: none;
    }
    .container{
        flex-direction: column;
        width: 30em;
        padding:0;
        height: auto;
        justify-content: center;
        border-radius: 0;
    }
    .content-mobile{
        display: flex;
        padding:0
    }
    .desktop-img{
        display: none;
    }
    .content1{
        width: auto;
        padding:1em; 
        gap:5px;
    }
    p{
        font-size: 1.5em;
    }
    input{
        font-size: 1.2em;
    }
}